{% extends 'base.html.twig' %}

{% block title %}New Ventaja{% endblock %}

{% block body %}
    <h1 class="tituloCrear">Create new Ventaja</h1>

    {{ include('ventaja/_form.html.twig') }}

    <a href="{{ path('ventaja_index') }}">back to list</a>
{% endblock %}
