{% extends 'base.html.twig' %}

{% block title %}New Evento{% endblock %}

{% block body %}
    <h1 class="tituloCrear">Create new Evento</h1>

    {{ include('evento/_form.html.twig') }}

{% endblock %}
