{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

{{ form_start(dniVerificador) }}
    {{ form_row(dniVerificador.fotoDni) }}

    <button type="submit" class="btn">Enviar</button>
{{ form_end(dniVerificador) }}

{% endblock %}