<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
       
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}

            <style>
               
            </style>

        {% endblock %}
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>

    <body id="page-top">
    <style>
            .titulos{
                color:white; 
                padding:10px; 
                font-weight:bolder; 
                text-align:center; 
                background-color:#4C12A1; 
                border-bottom:solid black; 
                background:#4C12A1 linear-gradient(90deg, #4C12A1 0%, #00D2B3 95%);
            }

             .tituloCrear{
                color:white; 
                padding:10px; 
                font-weight:bolder; 
                text-align:center; 
                background-color:#4C12A1; 
                border-bottom:solid black; 
                background:#4C12A1 linear-gradient(90deg, #4C12A1 0%, #00D2B3 95%);
            }
            
        </style>
     {% include "/Cabecera/cabecera.html.twig" %}
     <div class="contenido">
     
        {% block body %}
        
        {% endblock %}
    </div>
         <script>
            $('.contenido').appendTo('#content'); 
           
            
        </script>
    </body>
</html>
